@font-face {
  font-family: 'Staatliches-Regular';
  src: url('../resources/fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Staatliches-Regular', sans-serif;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin: 0 230px;
}

.project-link {
  /* display: inline-block;
   */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 250px;
  height: 150px;
  background-size: cover;
  transition: transform 0.5s;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  text-decoration: none;
}
.project-link p {
  color: black;
  /* font-family: Ribes, sans-serif; */
  line-height: 1.5;
  font-size: 1.3vw;
}
.project-link1 {
  background-image: url("../resources/d3.png");
}

.project-link2 {
  background-image: url("../resources/sauce_generator.png");
}

.project-link3 {
  background-image: url("../resources/which_painter.png");
}

.project-link:hover {
  transform: scale(1.1);
}
.project-link:hover p {
  color: rebeccapurple;
}
